body, h1, h2, h3, p, nav, footer {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header-link {
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
}

#header-link h1 {
    user-select: none;
}


#header-link:hover {
    text-decoration: none; 
}


.about-info {
    margin: 20px auto;
    max-width: 80%;
    text-align: left;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.social-links a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
}

.title-area {
    text-align: center;
    padding-top: 2%;
}
.nav-bar {
 //   background: url(./assets/background2.jpeg) repeat-x;
    text-align: center;

}
.nav-bar a {
    display:inline-table;
    text-align: center;
    margin: 0 0;
    color: #000000;
    text-decoration:solid;
    padding: 5px 10px;
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.gallery-item {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;    
}
.gallery-item img {
    max-width: 100%;
    height: auto;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 100%; 
    margin: auto;
}

.sidebar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8; 
    padding: 20px;
    border-right: 1px solid #e1e1e1; /* Add a subtle border */
    width: 20%
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #d1d1d1; /* Underline section headers */
    padding-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    padding: 5px 0; /* Add padding to list items */
    border-bottom: 1px solid #e1e1e1; /* Each item has a subtle underline */
}

.sidebar li:last-child {
    border-bottom: none; /* Remove underline from last item */
}

.sidebar a {
    color: #3366cc; /* Add color to links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.sidebar a:hover {
    color: #000; /* Change color on hover */
}


.content-area {
    width: 80%; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
}

.project-content {
    text-align: left; /* Centers the content */
    padding: 0;
    width: 100%;
}

.project-header {
    text-align: left;
}

.project-image {
    width: 100%;
    height: auto;
    display: block; /* This ensures there is no space around the image */
    margin: 0 auto; /* Centers the image */
}

.project-image-small {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 left;
}


/* Hide sidebar when on project pages */
.content-area:only-child .sidebar {
    display: none;
}


.container {
    width: 50%; /* This width should match the <hr> width */
    margin: auto; /* This centers the container */
    padding: 0;
}

.title-area, .nav-bar, .project-content {
    width: 100%; 
}

hr {
    width: 100%; 
    margin: auto; 
}
.project-title {
    font-size: 2em;
    margin-top: 20px; 
    text-align: left; 
}


.project-description, .project-technical-overview, .back-to-portfolio {
    text-align: left;
}

.figure {
    text-align: left; 
}

.figcaption {
    margin-top: 8px; 
    font-style: italic;
    font-size: 0.8em; 
}

a {
    color: #268578;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3366cc;
}


@media screen and (max-width: 768px) {
    .sidebar, .gallery-item, .project-image-small {
        width: 80%;
        padding: 20px;
        margin: 0 auto;
        margin: 10px;
    }
    .content-area {
        width: 100%; 
        padding: 10px;
    }
    .about-info {
        margin: 20px auto;
        max-width: 90%;
        text-align: left;
        font-size: 18px;
        color: #333;
        line-height: 1.6;
    }
    .main-content, .gallery {
        flex-direction: column;
        padding: 20px;
    }
    .container {
        width: 90%; /* This width should match the <hr> width */
        margin: auto; /* This centers the container */
        padding: 0;
    }
}
